name: rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo build
      run: scripts/cargo_to_gh rustc --message-format json -- -Awarnings

  check:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: cargo check
      run: scripts/cargo_to_gh check

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: cargo test
      run: cargo test --verbose
    - name: list ignored tests
      run: |
        (find . -name '*.rs' -exec grep --fixed-strings -Hno '#[ignore]' {} \; || true) | sed -E 's/^([^:]+):([^:]+):.*/::warning file=\1,line=\2,title=Ignored test::Regex indicates this test is probably ignored/'
    - name: check ignored tests all fail
      run: |
        exit_code=0
        while IFS= read -r line; do
          printf "%s but expected failure because it's ignored"'\n' "$line"
          exit_code=1
        done < <(cargo test -- --ignored --color never | grep '\.\.\. ok$' || true)
        exit "$exit_code"

  fmt:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo fmt
      run: cargo fmt --check
