name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: cargo build
        run: RUSTFLAGS=-Awarnings scripts/cargo_to_gh rustc --message-format json

      - name: check for any changes in the git tree
        run: |
          exit_code=0
          while read -r status_code file_path; do
            if [[ -z "$status_code" ]]; then
              continue
            fi
            exit_code=1
            echo "::error file=$file_path,title=git-status::<$status_code> $file_path"
          done <<<"$(git status --porcelain)"
          exit "$exit_code"

  check:
    strategy:
      matrix:
        tool: [ check, clippy ]
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: cargo ${{ matrix.tool }}
        run: scripts/cargo_to_gh "$CHECK_TOOL"
        env:
          CHECK_TOOL: ${{ matrix.tool }}
      - name: cargo ${{ matrix.tool }} (no special formatting)
        if: failure()
        run: cargo "$CHECK_TOOL"
        env:
          CHECK_TOOL: ${{ matrix.tool }}

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - uses: actions/checkout@v4

      - name: cargo test
        run: |
          # convert e.g. "thread 'fmt_str::tests::text_html' panicked at src/fmt_str.rs:75:9:" to
          #              "::error file=src/fmt_str,line=75,col=9,title=test failure:: atfmt_str::tests::text_html"
          set -o pipefail
          cargo test --verbose | sed -E "s/thread '([^']+)' panicked at ([^:]+):([0-9]+):([0-9]+):$/::error file=\\2,line=\\3,col=\\4,title=test failure::at \\1/"

      - name: list ignored tests
        run: |
          (find . -name '*.rs' -exec grep --fixed-strings -Hno '#[ignore]' {} \; || true) | sed -E 's/^([^:]+):([^:]+):.*/::warning file=\1,line=\2,title=Ignored test::Regex indicates this test is probably ignored/'

      - name: check ignored tests all fail
        run: |
          exit_code=0
          while IFS= read -r line; do
            printf "::error title=Ignored test is passing::%s but expected failure because it's ignored"'\n' "$line"
            exit_code=1
          done < <(cargo test -- --ignored --color never | grep '\.\.\. ok$' || true)
          exit "$exit_code"

  fmt:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: cargo fmt
        run: cargo fmt --check


  semver:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:

      - name: Check out repo
        uses: actions/checkout@v4

      - name: Also fetch target branch
        run: git fetch origin "$GITHUB_BASE_REF"

      - name: Install semver-checks
        run: |
          set -euo pipefail
          cd "$RUNNER_TEMP"
          gh release -R obi1kenobi/cargo-semver-checks download -p  cargo-semver-checks-x86_64-unknown-linux-gnu.tar.gz  -O - | tar xz
        working-directory: ${{ env.RUNNER_TEMP }}
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Run semver-checks
        run: |
          if ! "$RUNNER_TEMP/cargo-semver-checks" semver-checks --baseline-rev "origin/$GITHUB_BASE_REF" ; then
            # There were breaking changes. Make sure we have the appropriate label!
            breaking_change_label_count="$(gh pr view 364 --json labels | jq '.labels | select("breaking change") | length')"
            if [[ "$breaking_change_label_count" != 1 ]]; then
              echo "::error title=semver-checks::semver-checks found breaking changes, but the 'breaking change' label isn't applied. Please add that label."
              exit 1
            else
              echo "::warning title=semver-checks::semver-checks found breaking changes. The 'breaking change' label is applied, so no action needed if this is an acceptable change."
            fi
          fi
        env:
          GH_TOKEN: ${{ github.token }}
